@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --primary-color: #6699cc;
  --secondary-color: #fff275;
  --third-color: #ff8c42;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

[data-theme="dark"] .input__dark {
  background-color: white;
}
